<div class="container search-container" role="main">

	<div data-ng-class="{'search-middle': $ctrl.middle, 'search-top': !$ctrl.middle}" class="search-bar col-lg-10 col-sm-10 col-md-10 col-xs-12">
		<form name="$ctrl.searchForm">
			<input type="text" data-ng-model="$ctrl.keyword" placeholder="enter keywords and press enter...">
			<button type="submit" class="btn hidden-xs" ng-click="$ctrl.doSearch()">Search</button>
		</form>
		<div data-ng-class="{'logo': $ctrl.middle, 'logo-top': !$ctrl.middle}">
			<a href="/#"><b>Search.</b> Be simple.</a>
		</div>
		<div data-ng-show="$ctrl.showPredefinedKeywords">
			<p class="keywords-title">...or choose from our predefined keywords below:</p>
			<script type="text/ng-template" id="categoryTree">
				{{ category.name }}
				<ul class="list-group" ng-if="category.value" data-ng-click="$event.stopPropagation()">
					<li data-ng-click="$ctrl.doSearch(category.name)" class="list-group-item" ng-repeat="category in category.value" ng-include="'categoryTree'">
					</li>
				</ul>
			</script>
			<ul class="list-group first-level">
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="category in $ctrl.predefinedKeywords" ng-include="'categoryTree'"></div>
			</ul>
		</div>
	</div>

</div>
