$searchContainerPadding: 10px;
$searchButtonHeight: 34px;

.search-container {
  padding-top: 10px;
  display: block;
  height: 7rem;
  padding-left: 0;
  margin-left: 0;
  //border: 1px solid;
}

.search-bar {
  text-align: center;
  background-color: #eee;
}

.search-middle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.search-bar input[type="text"] {
  border: 5px solid #ccc;
  border-radius: 2px;
  padding: $searchContainerPadding;
  width:100%;
}

.search-bar input[type="text"] {
  border: 5px solid #ccc;
  border-radius: 2px;
  padding: $searchContainerPadding;
  width:100%;
}

.search-container button {
  position: absolute;
  top: 7px;
  right: 22px;
}

li {
  cursor: pointer;
  margin: 5px !important;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.first-level li {
  //text-align: left !important;
}

ul li ul li {
  text-align: left !important;
}

.keywords-title {
  margin: 15px 0 30px 0;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 100;
  color: #37474f;
  //margin-bottom: 30px;
  margin-top: -100px;
}

.logo b {
  font-size: 1.5em;
}

.logo-top {
  position: absolute;
  left: 10px;
  top: 15px;
}

.logo a, .logo-top a {
  text-decoration: none !important;
  color: #666;
}

.search-top {
  padding-left: 135px;
}
