<search-input></search-input>
<div class="container gal-container">
	<result-item
			data-ng-repeat="photo in $ctrl.results track by $index"
			photo-index="$index"
			photo-thumb-url="photo.url_n"
			photo-url="photo.url_h"
			photo-title="photo.title"
			photo-description="photo.description._content">
	</result-item>
	<p class="no-results" data-ng-show="!$ctrl.results.length"><span>:(</span>There are no results found, please try another keyword!</p>
</div>
