<div class="col-md-3 col-sm-4 col-xs-6 gal-item">
	<div class="box">
		<a href="#" data-toggle="modal" data-target="#{{ $ctrl.photoIndex }}">
			<img ng-src="{{ $ctrl.photoThumbUrl }}" onerror="this.src='https://assets.macysassets.com/navapp/web20/assets/img/pdp/productNotAvailable_PDP.png?op_sharpen=1'">
		</a>
		<div class="modal fade" id="{{ $ctrl.photoIndex }}" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<div class="modal-body">
						<img src="{{ $ctrl.photoUrl || $ctrl.photoThumbUrl }}" onerror="this.src='https://assets.macysassets.com/navapp/web20/assets/img/pdp/productNotAvailable_PDP.png?op_sharpen=1'">
					</div>
					<div class="col-md-12 description">
						<span class="desc_title">{{ $ctrl.photoTitle || 'Photo' }}</span>
						<span class="desc_description">{{ $ctrl.photoDescription || 'No description' }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
